@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
.hero {
    padding-top: 14vh;
    height: 80vh;
    background-image: url("/img/campus.jpg");
    background-size: cover;
}

.hero::before {
    content: "";
    background: rgba(226, 227, 233, 0.863);
    position: absolute;
    height: 80vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.spaces-hero{
    margin-top: 230px;
    margin-left: 120px;
    margin-bottom: 80px;
    /* position: relative; */
}
.spaces-hero h1{
    font-family: 'Playfair Display', black;
    color: #B45F06;
    font-size: 62px;
    font-weight: 900;
}
.spaces-hero h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #233853;
    font-size: 30px;
    font-weight: 700;
}
.spaces-content h1{
    font-family: 'Playfair Display', black;
    color: #233853;
    font-size: 45px;
    font-weight: 800;
}
.spaces-content h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #233853;
    font-size: 26px;
    font-weight: 600;
}
.spaces-content p{
    font-family: 'PT Serif', serif;
    color: #979993;
    font-size: 17px;
}
img{
    height: 360px;
    width: 480px;
}
.introduction{
    margin-top: 80px;
    margin-bottom: 80px;
}
.mahboula{
    margin-top: 80px;
    margin-bottom: 80px;
    height: 85vh;
}
.bottom{
    margin-top: 48px;
}
.sabah{
    margin-top: 80px;
    margin-bottom: 50px;
}
#space-btn{
    height: 40px;
    width: 200px;
    font-size: 12px;
}
@media (max-width: 576px) {
    .hero {
        height: 80vh;
        width: auto;
    }
    .spaces-hero{
        margin-top: 20px;
        margin-left: 0px;
    }
    .spaces-hero h1{
        margin-top: 20px;
        font-size: 34px;
    }
    .spaces-hero h3{
        margin-top: 10px;
        font-size: 24px;
    }
    .introduction{
        height: auto;
    }
    .introduction h1{
       font-size: 34px;
    }
    .mahboula{
        height: auto;
    }
    .mahboula h1{
        font-size: 34px;
    }
    .sabah{
        height: auto;
    }
    .footer{
        display: none;
    }
    
}
@media (min-width: 576px) and (max-width: 769px){
    .spaces-hero{
        margin-top: 20px !important;
        margin-left: 0px;
    }
    .introduction{
        height: auto;
        margin-bottom: 20px;
    }
    .mahboula{
        height: auto;
        margin-bottom: 20px;
    }
    .sabah{
        height: auto;
        margin-bottom: 20px;
    }
}

/* @media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {} */ 