@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
.hero {
    padding-top: 14vh;
    height: 80vh;
    background-image: url("/img/student-hero.jpg");
    background-size: cover;
}

.hero::before {
    content: "";
    background: rgba(226, 227, 233, 0.863);
    position: absolute;
    height: 80vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.student-hero{
    margin-top: 230px;
    margin-left: 120px;
    margin-bottom: 80px;
    /* position: relative; */
}
.student-hero h1{
    font-family: 'Playfair Display', black;
    color: #B45F06;
    font-size: 62px;
    font-weight: 900;
}
.student-hero h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #233853;
    font-size: 30px;
    font-weight: 700;
}
.student-content h1{
    font-family: 'Playfair Display', black;
    color: #233853;
    font-size: 45px;
    font-weight: 800;
}
.student-content h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #233853;
    font-size: 26px;
    font-weight: 600;
}
.student-content p{
    font-family: 'PT Serif', serif;
    color: #979993;
    font-size: 17px;
}
.student-content img{
    height: 320px;
    width: 420px;
}
.student-content button{
    height: 50px;
    width: 200px;
    font-size: 16px;
    padding-bottom: 16px !important;
}
.overview{
    margin-top: 80px;
    height: 50vh;
}
.service{
    margin-top: 80px;
    height: 100vh;
}
.bottom{
    margin-top: 50px;
}
.life{
    height: 100vh;
}
.texts{
    text-align: center;
}
.resource{
    margin-top: 80px;
    height: 50vh;
}
.windows{
    margin-top: 80px;
    height: 50vh;
}
.cafe{
    margin-top: 80px;
    height: 50vh;
}
.arts{
    margin-top: 48px;
    height: 155vh;
}
.bottom{
    margin-top: 40px;
}
/* #student_btn{
    font-size: 19px !important;
} */