* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FCFEF7;
}

#menu {
  height: 14vh;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
}

.navbar {
  background-color: #FCFEF7;
}


@media (max-width: 768px) { 
  .navbar-collapse {
    position: absolute;
    top:130px;
    right: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: all 0.3s ease;
    display: block;
    background-color: #FCFEF7;
  }
  .navbar-collapse.collapsing {
    height: auto !important;
    margin-right: 50%;
    transition: all 0.3s ease;
    display: block;
  }
  .navbar-collapse.show {
    right: 0;
  }
  
}

#logo {
  height: 8vh;
  width: auto;
  margin: 8px;
}

#top-nav a {
  color: #979993;
  font: Bold 12px/14px Arial;
  margin-top: 7px;
  margin-bottom: 10px;
}

#bottom-nav a {
  color: #233853;
  letter-spacing: 0;
  font: Bold 18px/21px Arial;
}

/* .navbar-nav>nav-link {
  position: relative;
} */

.navbar-light .navbar-nav .active a::after {
  border-bottom: 5px solid #B45F06;
  bottom: -10px;
  content: " ";
  position: absolute;
}

.language-switcher label, select {
  color: #233853;
  font-weight: bold;
}

.language-switcher select {
  width: 100px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #233853;
  border-bottom-width: 2px;
  background-color: transparent;
  border-bottom-width: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#lang-selection {
  padding: 0;
}

.language-switcher select:focus {
  outline: none;
}

#lang-select-btn {
  color: #233853;
  font: 12px/14px Arial;
  font-weight: 400;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #233853;
  border-bottom-width: 3px;
  border-radius: 0px;
  top: 0%;
}

#lang-select-btn:focus {
  outline-color: none;
  box-shadow: none;
}

.schedule {
  padding-top: 14vh;
  height: 86vh;
}

#carousel {
  width: 100%;
  height: 508px;
}

.carousel-item img {
  height: 508px;
  object-fit: cover;
}

#curr_img {
  width: 420px;
  height: 300px;
  object-fit: cover;
}

.taglines {
  position: absolute;
  top: 35%;
  right: 20%;
}

.taglines h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: #B45F06;
  font-size: 60px;
  letter-spacing: -0.1px;
}

.taglines h4 {
  color: #233853;
  font: Bold 30px/35px Arial;
  padding-top: -25;
}

.submit-btn {
  /* margin-top: 15px; */
  height: 50px;
  width: 250px;
  font-family: "Pragati Narrow", sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  padding: 4px 20px 4px 20px;
  border: solid #b45f06 3px;
  text-decoration: none;
  background-color: #b45f06;
  font-size: 16px;
  padding-top: 10px;
}

.submit-btn:hover {
  background: transparent;
  text-decoration: none;
  color: #b45f06;
}

.submit-btn:focus {
  outline: none;
}

.curriculum {
  margin-top: 5vh;
  padding-top: 10vh;
  height: 60vh;
  /* background-color: tomato; */
}
#app-btn{
  text-align: center;
}

.curriculum_tag h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: #233853;
  font-size: 40 px;
  letter-spacing: -0.1px;
}

.curriculum_tag h5 {
  font-family: 'Arial', serif;
  font-weight: 600;
  color: #233853;
  letter-spacing: -0.1px;
}

.curriculum_tag p {
  color: #979993;
  font-weight: 500;
}

#curr_btn {
  /* padding-top: 15px; */
  width: 240px;
  height: 60px;
  font-size: 14px;
}

.events {
  height: 80vh;
  /* background-color: turquoise; */
}

.events h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: #233853;
  font-size: 40 px;
  letter-spacing: -0.1px;
}

.events h5 {
  font-family: 'Arial', serif;
  font-weight: 600;
  color: #233853;
  letter-spacing: -0.1px;
}

.card p {
  font-family: 'Arial', serif;
  font-weight: 600;
}

.card small {
  font-family: 'Arial', serif;
  font-weight: 200;
}

.card p small {
  color: #233853;
}

.event-det {
  text-align: center;
  margin-top: 40px;
}

.card-deck {
  margin-top: 32px;
}

#more-img {
  height: 48px;
  width: 48px;
}

.apply {
  height: 60vh;
}

.apply_tag h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  color: #233853;
  font-size: 40 px;
  letter-spacing: -0.1px;
}

.apply_tag h5 {
  font-family: 'Arial', serif;
  font-weight: 600;
  color: #233853;
  letter-spacing: -0.1px;
}

.apply_tag p {
  color: #979993;
  font-weight: 500;
}

.footer-section {
  min-height: 20vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  font-family: "Pragati Narrow", sans-serif;
  background-color: #fcfef7;
}

.footer h6 {
  font-family: Arial;
  font-weight: 600;
  color: #233853;
}

.footer p {
  color: #233853;
  font-family: Arial;
}

#footer-btn {
  height: 40px;
  width: 200px;
  font-size: 16px;
  padding-bottom: 30px !important;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

.copyright small {
  float: left;
  color: #233853;
  font-weight: 300;
}

.contact-info {
  display: flex;
  justify-content: space-between;

}
.contact-info p{
  margin-right: 10px;
}

.socials {
  display: flex;
  justify-content: flex-start; 
  
}

.socials a {
  color: #233853;
  padding-right: 16px;
}
.links{
  display: flex;
  justify-content: flex-start;
}
.links a{
  color: #233853;
  padding-right: 32px;
}
.fab {
  font-size: 30px;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #B45F06;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:active, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:hover {
  color: #fff;
}

.hvr-sweep-to-right:active:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-wobble-horizontal:active .hvr-icon, .hvr-icon-wobble-horizontal:focus .hvr-icon, .hvr-icon-wobble-horizontal:hover .hvr-icon {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-icon-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow-rotate .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow-rotate:active .hvr-icon,
.hvr-icon-grow-rotate:focus .hvr-icon,
.hvr-icon-grow-rotate:hover .hvr-icon {
  -webkit-transform: scale(1.5) rotate(12deg);
  transform: scale(1.5) rotate(12deg);
}

/*MEDIA QUERIES*/

@media (max-width: 599px) {
  .schedule {
    margin-top: 10vh;
    height: 80vh;
    padding-left: 20px;
    background-image: url("/img/carosel/kuwait-city-skyline.jpg");
    background-size: cover;
    width: 100%;
  }
  .schedule::before {
    content: "";
    background: rgba(226, 227, 233, 0.863);
    position: absolute;
    height: 90%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .taglines {
    margin-top: 10px;
    /* display: none; */
  }
  .taglines h2, h4, button {
    /* margin-top: 50px; */
    font-size: 43px;
    
  }
  .curriculum {
    height:auto;
    margin-bottom: 32px;
  }
  .events {
    height:auto;
    margin-bottom: 32px;
  }
  .apply {
    height:auto;
    margin-bottom: 32px;
    /* display: none; */
  }
  #app-btn{        
    margin-bottom: 10px;    
  }
  
  .apply_tag{
    margin-top: 48px;
  }
  .footer {
    text-align: center;
      height: auto;
      /* display: none; */
    }
    #footer-btn{
      margin-bottom: 20px !important;
    }
    #isk-foot-heading{
      margin-left: 20px;
    }
    .contact-info{
      font-size: 10px;
    
    }
    .socials{
      justify-content: space-evenly;
    }
    .copyright{
      margin-left: 50px;
    }
}

@media (min-width: 600px) and (max-width: 769px) {
  .schedule{
    margin-top: 10vh;
    height: 85vh;
    /* padding-left: 1; */
    background-image: url("/img/carosel/kuwait-city-skyline.jpg");
    background-size: cover;
    width: 100%;
  }
  .schedule::before {
    content: "";
    background: rgba(226, 227, 233, 0.863);
    position: absolute;
    height: 95%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
 .taglines{
  margin-top: 20px !important;
  margin-left: 0px;;
 }
  /* .taglines h2{
    font-size: 38px !important;
  }
  .taglines h4{
    font-size: 26px;
  } */
  #tag-btn{
    width: 232px;
    height: 45px;
  }
  .curriculum{
    /* display: none; */
    height: auto;
  }
  .events{
    /* display: none; */
    height: auto;
  }
  .apply{
    margin-top: 25px;
    /* display: none; */
    height: auto;
  }
  .footer{
    height: auto;
    margin-top: 25px;
  }
  #isk-foot-heading{
    margin-left: 20px;
    margin-top: 20px;
  }
  .contact-info{
    margin-left: 20px;
  }
  .socials{
    justify-content: space-evenly;
  }
  .links{
    justify-content: space-evenly;
  }
  .copyright{
    margin: 10px 10px;
  }
 }
 
@media (min-width: 769px) and (max-width: 992px) {
    #carousel{
    position: absolute;
  }
  .carousel-item::before{
    content: "";
    background: rgba(226, 227, 233, 0.863);
    position: absolute;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .taglines{
    margin-top: 25px;
    /* z-index: inherit; */
  }
  .curriculum{
    /* display: none; */
    height: auto;
  }
  .events{
    height: auto;
  }
  .apply{
   height: auto;
   margin-top: 30px;
   margin-bottom: 30px;
  }
 
}
@media (min-width: 992px) and (max-width: 1395px){
  .taglines{
    margin-top: 20px !important;
    margin-left: 0px;  
    
  }
  /* .taglines h2{
    font-size: 3rem !important;
  }
  .taglines h4{
    font-size: 2rem;
  } */
  .curriculum{
    height: auto;
    margin-bottom: 80px;
  }
  .events{
    height: auto;
    margin-bottom: 80px;
  }
  .apply{
    height: auto;
    margin-bottom: 80px;
  }
} 

/* @media (max-width: 1199.98px) {} 